h1, p {
    text-align: center;
  }
  
  footer {
    background-color: #222;
    padding: 3rem;
    color: #fff
}

footer section {
    float: right
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: cornflowerblue;
}